:root{
    --color1:darkred;
    ---color2:#6666;
    --color3:#4b000a;
    --background:#131316;
    --color4:rgb(48, 47, 47);
 
 }
 
 
 ul#pontos {
     list-style-type: none;
     margin: 10;
     padding: 0;
     overflow: hidden;
     position: -webkit-sticky; /* Safari */
     position: sticky;
     top: 0;
     background-color: var(--background);
    
 
    
   }
   li {
     float: left;
     border-right: 1px solid var(--background);
     
   }
   
   li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     
     
     
   }
   /* Change the link color to #111 (black) on hover */
   li a:hover {
     background-color: var(--color1);
     font-family: 'Crimson Text', serif;
   }
   .active {
     background-color: var(---color2);
   }
   li:last-child {
     border-right: none;
   }
   #TopBanner{ 
     background-color: var(--background);
     align-self: center;
     width: 99,8%;
     height: 100px;
     border-radius: 18px;
     
   }
   #Conteudo{
    align-self: center;
     width: 99,8%;
     height: 700px;
     background-color: var(--background);
     border-radius: 18px;
     
   }
   body{
     background-image: linear-gradient(to right, darkred ,#000000 );
   }#ostres{
     list-style-type: none;
     margin: 10;
     padding: 0;
     overflow: hidden;
     background-color: var(--background);
     position: -webkit-sticky; /* Safari */
     position: sticky;
     top: 0;
   }#pontos2{
     visibility: hidden;
     background-color: var(--background);
   }#button-pont{
     visibility: visible;
     background-color: var(--color4);
   }details{
     float: right;
   }#logo{
     width: 11%;
     float: left;
   }#nome-marca{
     text-align: left;
     font-size: 80px;
     font-family: 'Ms Madi', cursive;
   }#conteudo2{
      align-self: center;
      margin-top: auto;
      padding-bottom: 60px;
     width: 80%;
     height: 400px;
     background-color: var(--color4);
   }#chu{
      width: 10%;
     height: 200px;
     background-color: var(--color4);
     padding-right: 100px;
     margin: 10px 20px 10px 40px;
     
     box-shadow: 10px;
     border-radius: 18px;
     
      display:inline-block;
   }#ta{
      width: 10%;
     height: 200px;
     background-color: var(--color4);
     padding-right: 100px;
      margin: 0px 5px 10px 90px;
     
     box-shadow: 10px;
     border-radius: 18px;
     justify-content: space-around;
     display:inline-block;
 
     
   }#ave{
      width: 10%;
     height: 200px;
     background-color: var(--color4);
     padding-right: 100px;
      margin: 5px 2px 30px 100px;
     
     box-shadow: 10px;
     border-radius: 18px;
     justify-content: space-around;
    display:inline-block;
   }#car{
      width: 10%;
     height: 200px;
     background-color: var(--color4);
     padding-right: 100px;
     margin: 30px 10px 30px 80px;
     box-shadow: 10px;
     border-radius: 18px;
     justify-content: space-around;
     display:inline-block;
   }#carv{
      width: 10%;
     height: 200px;
     background-color: var(--color4);
     padding-right: 100px;
      margin: 5px 2px 30px 40px;
    
     box-shadow: 10px;
     border-radius: 18px;
     justify-content: space-around;
      display:inline-block;
   }#chuimg{
    
     height: 150px;
     width: 170px;
     margin: 10px 10px 5px 30px;
     border-radius: 18px;
   }#nome{
     margin: 1px 15px 15px 40px;
      font-family: 'Crimson Text', serif;
   }#chu1{
    margin: 1px 70px 0px 70px;
   }div{
    box-shadow: inset 1px 4px 7px rgba(0, 0 , 0, 0.25);
  }
   
 
 
 